/* GLOBAL RESETTERS
--------------------------------------------------------------- */
html {
  height: 100%;
  font-family: "calibri";
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}


/* MAIN PAGE
----------------------------------------------------------- */
.mainGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  grid-template-areas:
    "navBar navBar navBar navBar navBar navBar navBar"
    "introduction introduction introduction introduction introduction introduction introduction"
    " . main main main main main . "
    "footer footer footer footer footer footer footer ";
}
.navBar {
  grid-area: navBar;
}
.introduction {
  grid-area: introduction;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

/*Navigation bar*/
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0px 5%;
  background-color: #434041;
}
.navBar ul {
  display: flex;
}
.navBar ul li a {
  margin: 0 1rem;
  padding: 0.3rem 0.7rem;
  color: #f2f0ec;
  font-weight: 600;
  transition: all 0.3s ease;
}
.navBar ul li a:hover {
  border-radius: 5px;
  color: #7b9b4a;
}
.logo {
  color: #f2f0ec;
  font-size: 22px;
}
.logoStyle {
  color: black;
  font-weight: bold;
}

/* sticky social navbar */
.iconBar {
  position: fixed;
  top: 25%;
  right: 1%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.iconBar a {
  display: block;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  transition: all 0.3s ease;
  color: #f2f0ec;
  background-color: #434041;
  font-size: 1.3rem;
  border-radius: 50%;
}
.iconBar a:hover {
  color: #7b9b4a;
  transform: scale(1.5);
}

/* Introduction area */
.introduction {
  height: 500px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  background-image: url(/images/mainimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.textContainer {
  margin-top: 3rem;
  margin-left: 21.5rem;
}
.textContainer p:nth-child(1) {
  font-weight: bold;
  color: #434041;
  font-size: 1.5rem;
}
.textContainer p:nth-child(2) {
  font-weight: bold;
  letter-spacing: 10px;
  color: #000000;
  font-size: 4rem;
}
.textContainer p:nth-child(3) {
  color: #434041;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 6rem;
}
.textContainer p {
  line-height: 0px;
}
.textContainer a {
  font-size: 1.5rem;
  margin-right: 2rem;
  padding: 0.7rem 1.5rem;
  color: #f2f0ec;
  background-color: #434041;
  border-radius: 1rem;
  transition: all 0.3s ease;
}
.textContainer a:last-child {
  background-color: #7b9b4a;
  color: #434041;
}
.textContainer a:hover {
  color: #7b9b4a;
  background-color: hsl(340, 2%, 26%, 0.9);
}

/* projects area */
.projWrapper {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: #434041;
}
.projGallery {
  font-size: 3rem;
  margin: 5rem auto 8rem;
}
.projectBox {
  display: flex;
  margin: 2rem 0;
}
.projectBox img:hover{
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.projectBox p {
  margin: 0;
  padding: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
span {
  text-align: center;
  font-weight: bold;
}
.projectBox:nth-child(odd) {
  flex-direction: row-reverse;
}

/* footer */
footer {
  background-color: #434041;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
}
footer ul {
  display: flex;
}
.businessLinks {
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 0.4rem;
  transition: all 0.3s ease;
  background-color: #f2f0ec;
  color: #434041;
  border-radius: 50%;
}
.backToTop {
  color: #f2f0ec;
  font-size: 2rem;
  transition: all 0.3s ease;
}
.footer-btn {
  font-weight: bold;
  color: #434041;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  background-color: #f2f0ec;
  border-radius: 1rem;
}
.businessLinks:hover,
.footer-btn:hover {
  background-color: #7b9b4a;
}
.backToTop:hover {
  color: #7b9b4a;
}



/* PROJECTS PAGES
-------------------------------------------------------------------- */
.projGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  grid-template-areas:
    "navBar navBar navBar navBar navBar navBar"
    "header header header header header header"
    " . main main main main . "
    " . projVideo projVideo projVideo projVideo . "
    ". projPhotos projPhotos projPhotos projPhotos ."
    "footer footer footer footer footer footer";
}
.featurePhoto {
  grid-area: header;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-position: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}
.ProjOneFeature {
  background-image: url(/images/landingPage.jpg);
}
.projInfo {
  font-size: 200%;
  text-align: center;
  margin: 10rem 0;
  line-height: 3rem;
  padding: 1rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.projInfo h1 {
  text-align: center;
}
.projVideo {
  grid-area: projVideo;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.projVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.projPhotos {
  grid-area: projPhotos;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 15px;
}
.photoOne {
  grid-area: 1/1/3/5;
  background-image: url(/images/2.jpg);
  background-size: cover;
}
.photoTwo {
  grid-area: 3/1/7/3;
  background-image: url(/images/4.jpg);
  background-size: cover;
}
.photoThree {
  grid-area: 3/3/5/5;
  background-image: url(/images/3.jpg);
  background-size: cover;
}
.photoFour {
  grid-area: 5/3/7/7;
  background-image: url(/images/1.jpg);
  background-size: cover;
}
.photoFive {
  grid-area: 1/5/5/7;
  background-image: url(/images/5.jpg);
  background-size: cover;
}
.projPhotos div:hover {
  transform: scale(1.2);
  transition: all 0.7s ease;
}


/* INFORMATION PAGE
------------------------------------------------------------- */
.informationGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  min-height: 100%;
}
.informationGrid .navBar{
  grid-area: 1 / 1 / 2 / 3;
}
.informationGrid header{
  grid-area: 2 / 1 / 3 / 3;
}
.informationGrid article{
  grid-area: 2 / 2 / 3 / 3;
}
.informationGrid footer{
  grid-area: 3 / 1 / 4 / 3;
}
.informationMain {
  text-align: center;
  background: black;
  overflow: hidden;
}
.informationMain img{
  object-fit: cover;
  opacity: 0.4;
  vertical-align: middle;
}
.information{
  display: flex;
  justify-content: center;
}
.information p {
  font-size: 2rem;
  line-height: 3rem;
  width: 50%;
  margin: auto;
  color: white;
  font-weight: bold;
}


/* CONTACT PAGE
-------------------------------------------------------------- */
.contactGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  grid-template-areas:
    "contactNav contactNav contactNav contactNav contactNav contactNav"
    " . contactSocial contactSocial contactForm contactForm ."
    "contactFooter contactFooter contactFooter contactFooter contactFooter contactFooter";
}
.contactNav {
  grid-area: contactNav;
}
.contactSocial {
  font-size: 2rem;
  grid-area: contactSocial;
  margin: 0 auto;
  text-align: center;
}
.socialMedia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  width: 400px;
  height: 250px;
  padding-bottom: 5rem;
}
.contactSocial h3 {
  margin-bottom: 15rem;
  grid-area: 1/1/2/4;
  font-size: 3rem;
}
.contactSocial a {
  transition: all 0.3s ease;
  color: #f2f0ec;
  background-color: #434041;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contactSocial a:hover {
  color: #7b9b4a;
  transition: all 0.6s ease;
  transform: scale(1.5);
}
.contactForm {
  grid-area: contactForm;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.contactForm h3 {
  text-align: center;
  font-size: 3rem;
}
input[type="text"],
[type="email"],
textarea {
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 1rem;
  border: 2px solid #434041;
}
.group {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
input[type="submit"],
[type="reset"] {
  font-size: 1.5rem;
  margin-right: 2rem;
  margin-top: 5px;
  padding: 0.7rem 1.5rem;
  color: #f2f0ec;
  background-color: #434041;
  border-radius: 1rem;
  transition: all 0.3s ease;
  border: none;
}
input[type="submit"]:hover,
[type="reset"]:hover {
  color: #7b9b4a;
  transform: scale(1.03);
}
.contactFooter {
  grid-area: contactFooter;
}


/* MEDIA QUERIES
---------------------------------------------------------------------------- */
@media screen and (max-width: 760px) {
  html {
    font-size: 13px;
  }
  .mainGrid {
    grid-template-areas:
      "navBar navBar navBar navBar navBar navBar navBar"
      "introduction introduction introduction introduction introduction introduction introduction"
      "main main main main main main main"
      "footer footer footer footer footer footer footer ";
  }
  .projPhotos .photoOne{
    grid-area: 1 / 1 / 2 / 2;
  }
  .projPhotos .photoTwo{
    grid-area: 1 / 2 / 2 / 3;
  }
  .projPhotos .photoThree{
    grid-area: 2 / 1 / 3 / 2;
  }
  .projPhotos .photoFour{
    grid-area: 2 / 2 / 3 / 3;
  }
  .projPhotos .photoFive{
    grid-area: 3 / 1 / 4 / 2;
  }
  .contactGrid {
    grid-template-areas:
      "contactNav contactNav contactNav contactNav contactNav contactNav"
      "contactSocial contactSocial contactSocial contactSocial contactSocial contactSocial "
      "contactForm contactForm contactForm contactForm contactForm contactForm "
      "contactFooter contactFooter contactFooter contactFooter contactFooter contactFooter";
  }
  .informationGrid .navBar{
    grid-area: 1 / 1 / 2 / 3;
  }
  .informationGrid header{
    grid-area: 2 / 1 / 3 / 3;
  }
  .informationGrid article{
    grid-area: 3 / 1 / 3 / 3;
  }
  .informationGrid footer{
    grid-area: 4 / 1 / 5 / 3;
  }
  .navBar {
    padding: 2%;
  }
  .navBar ul li a {
    padding: 0;
  }
  .iconBar {
    display: none;
  }
  .introduction {
    height: 400px;
  }
  .textContainer {
    margin-top: 6rem;
    margin-left: 2rem;
    text-align: center;
  }
  .textContainer p:nth-child(2) {
    letter-spacing: 5px;
  }
  .projectBox {
    flex-direction: column;
    text-align: center;
  }
  .projectBox img {
    width: 50%;
  }
  .projectBox:nth-child(odd) {
    flex-direction: column;
  }

  .projPhotos{
    grid-template-columns: 1fr 1fr;;
  }
  .socialMedia {
    grid-gap: 30px;
    width: 300px;
    height: 190px;
  }
  .contactSocial h3 {
    margin-bottom: 10rem;
    font-size: 3rem;
  }
  .group {
    align-self: center;
  }
  .information{
    padding: 4rem 0;
    background-color: #434041;
  }
}



@media screen and (max-width: 480px) {
  .navBar {
    flex-direction: column;
  }
  .introduction {
    height: 400px;
  }
  .textContainer {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
  }
  .textContainer p:nth-child(2) {
    letter-spacing: normal;
  }
  .projectBox p {
    line-height: 2rem;
  }
  .projPhotos{
    grid-template-columns: 1fr;
  }
  .projPhotos .photoOne{
    grid-area: 1 / 1 / 2 / 2;
  }
  .projPhotos .photoTwo{
    grid-area: 2 / 1 / 3 / 2;
  }
  .projPhotos .photoThree{
    grid-area: 3 / 1 / 4 / 2;
  }
  .projPhotos .photoFour{
    grid-area: 4 / 1 / 5 / 2;
  }
  .projPhotos .photoFive{
    grid-area: 5 / 1 / 6 / 2;
  }
  .information p{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
  }
}
